body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/bg.jpg') black;
    background-size: auto;
    background-repeat: repeat;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adding a shadow */
}

.circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
    transform: perspective(100px) rotateX(20deg); /* Adding a slight 3D effect */
    z-index: -1; /* Move behind the video */
    opacity: 0.6; /* Adjust transparency for a subtle effect */
}

.circle video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative; /* Ensure video stays on top */
    border-radius: 50%; /* Ensure the video clips to the circle shape */
}
