body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/bg.jpg') black;
    background-size: auto;
    background-repeat: repeat;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Optional: a fallback color */
    position: relative;
}

.circle video {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
1
